---
import { Comment } from 'astro-pure/advanced'
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} info='/about'>
  <p>Developer / Designer</p>
  <p>
    一个苦命的初中生。
  </p>
  <p>
    欲买桂花同载酒，终不似，少年游。<Spoiler>这里可以夹私货，所以我要骂一句傻逼三十五中！</Spoiler>
  </p>
  <Button title='赞助我' class='w-fit' href='/projects#sponsorship' style='ahead' />

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet, vidit suscipit at mei.</li>
    <li>
      Quem denique mea id. Usu ei regione indoctum dissentiunt, cu meliore fuisset mei, vel quod
      voluptua ne.
    </li>
    <li>Ex dicat impedit mel, at eum oratio possit voluptatum.</li>
    <li>Impetus fuisset ullamcorper pri cu, his posse iisque ad, aliquam honestatis usu id.</li>
  </ul>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Current support tools as follow:</p>
  <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Photoshop',
        description: '图片编辑',
        href: 'https://www.adobe.com/products/photoshop',
        icon: import('@/assets/tools/photoshop.svg?raw')
      },
      {
        name: 'Illustrator',
        description: '矢量绘图',
        href: 'https://www.adobe.com/products/illustrator',
        icon: import('@/assets/tools/illustrator.svg?raw')
      },
      {
        name: 'After Effects',
        description: '动态图形',
        href: 'https://www.adobe.com/products/aftereffects',
        icon: import('@/assets/tools/aftereffects.svg?raw')
      },
      {
        name: 'Premiere Pro',
        description: '视频编辑',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Chrome',
        description: '浏览器',
        href: 'https://www.google.com/chrome/',
        icon: import('@/assets/tools/chrome.svg?raw')
      },
      {
        name: 'Firefox',
        description: '开源浏览器',
        href: 'https://www.mozilla.org/en-US/firefox',
        icon: import('@/assets/tools/firefox.svg?raw')
      },
      {
        name: 'Notion',
        description: 'Note Taking',
        href: 'https://www.notion.so/',
        icon: import('@/assets/tools/notion.svg?raw')
      },
      {
        name: 'Typora',                          
        description: 'Markdown编辑器，点击有惊喜,后期指向破解版',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/typora.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Neovim',
        description: 'IDE',
        href: 'https://neovim.io/',
        icon: import('@/assets/tools/neovim.svg?raw')
      },
      {
        name: 'Sublime Text',
        description: 'IDE',
        href: 'https://www.sublimetext.com/',
        icon: import('@/assets/tools/sublime.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Arch Linux',
        description: 'Linux发行版',
        href: 'https://archlinux.org/',
        icon: import('@/assets/tools/archlinux.svg?raw')
      },
      {
        name: 'Ubuntu',
        description: 'Linux发行版',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      {
        name: 'Windows 11',
        description: '一陀大便',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      },
      {
        name: 'macos',
        description: '极致的美学',
        href: 'https://www.apple.com.cn/macos',
        icon: import('@/assets/tools/apple.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>社交</h2>
  <p>
    你在这些地方联系到我，当然你也可以在网站中留言。
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/xjl3421',
        text: '关注者',
        api: 'github/xjl3421'
      },
      {
        platform: 'gitlab',
        icon: 'gitlab',
        color: '#ff9000',
        link: 'https://gitlab.com/xjl3421',
        text: '订阅者',
        api: 'gitlab/xjl3421'
      },
      {
        platform: 'x',
        icon: 'x',
        color: '#00000',
        link: 'https://x.com/xjl3421',
        text: '关注者',
        api: 'x/xjl3421'
      },
      {
        platform: 'bilibili',
        icon: 'bilibili',
        color: '#23ADE5',
        link: 'ttps://space.bilibili.com/3546623709808840',
        text: '关注者',
        api: 'bilibili/3546623709808840'
      }
    ]}
  />

  {/* gossips */}
  <h2 id='gossips'>闲话</h2>
  <Collapse title='Lorem ipsum'>
    可能不定时在博客中更新一些内容，但不一定可能就不更新了。本人马上就要中考了，所以不能保证经常性的更新。
    但是我还是会偶尔看一眼博客的，<Spoiler>假的，没时间看的</Spoiler>
  </Collapse>

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2025-8-01',
        content:
          '使用<a href="https://astro.build/" target="_blank">Astro</a>开始重构的网站'
      },
      {
        date: '2025-08-02',
        content:
          '引入<a href="https://github.com/srleom/astro-theme-resume" target="_blank">Astro Theme Resume</a>主题'
      },
      {
        date: '2025-08-25',
        content: '开始编写网站文档，为我增加的功能留下修改的指引，过一段时间再看就全忘了。'
      }
    ]}
  />
  <p>
    网站的流畅运行和个性化定制也依赖于以下优秀项目/服务商提供的资源和技术支持：
  </p>
  <ul>
    <li>Domain:现在用.tech，以后就只有qzz.io <a href='https://domain.digitalplat.org/' target='_blank'>digitalplat</a></li>
    <li>
      框架和主题: <a href='https://astro.build/' target='_blank'>Astro</a> + <a href='https://github.com/srleom/astro-theme-pure' target='_blank'>Astro Theme Pure</a>
    </li>
    <li>
      网站托管: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel 工作流程</a>
    </li>
    <!-- <li>Resources speedup: <a href='https://cdn.cbd.int/' target='_blank'>CBD CDN</a></li> -->
    <li>
      评论系统: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      访问统计: <a href='https://supabase.com/' target='_blank'>Supabase</a>和
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <li>
      其他统计数据: <a href='https://github.com/spencerwooo/substats' target='_blank'>Substats</a>
    </li>
  </ul>
  <Comment slot='bottom' />
</PageLayout>
